[submodule "vcflib"]
	path = vcflib
	url = https://github.com/vcflib/vcflib.git
[submodule "args"]
	path = args
	url = https://github.com/Taywee/args.git
[submodule "seqan"]
	path = seqan
	url = https://github.com/seqan/seqan.git
[submodule "htslib"]
	path = htslib
	url = https://github.com/samtools/htslib
